
body{
background-image: url(bg.jpg);
background-size: cover;
}
.welcome{
	text-align: center;
	color: #787EAC;
	text-shadow: black;
	font-size: 400%;
  margin-top: 10%;
  
}
p{
	text-shadow: 2px 2px rgba(0,0,0,0.4)

}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: relative;
  margin-top: 40%;
  margin-left: 45%;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #A15089;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}